
.Site {
  display: flex;
  flex-direction:column;
  height: 100%;
  min-height: 100vh;
}

.Site-header {
  flex: none;
  margin-bottom: 85px/* 2 */
}

.Site-footer {
  flex: none; /* 2 */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #5cb85c;
}

.Site-footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}

.Site-content--full::after {
  content: none;
}

.shop-main {
    padding: 80px 15px 0;
}

.shop-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #5cb85c;
}
